*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
   font-family: sans-serif;
    text-align: center;
    font-weight: bold;
}
h1{
    color:red;
    margin: 5px 5px;
    
}
a{
    text-decoration: none;
}
.users-form form{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 30%;
    margin: 20px auto;
    text-align: center;

}
 .users-form input{
    margin: auto;
    height: 30px;
    width: 70%;
    border: 1.6px solid rgb(14, 1, 1);
    border-radius: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    outline: none;
    padding-left: 8px; 
 

}
.users-form input:hover{
    transition: .5s;
    border: 1px solid #2980b9;
    color: #2498db;
    
}
 input[type=submit]{
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    

}